.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Classes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  
 
}
.ClassDiv{
  text-align: center;
  border: rgba(0, 0, 0, 0.829) solid 2px;
  padding: 1rem;
margin:1rem;
  width:25rem;
  background-color:rgba(255, 255, 255, 0.363);

  
  
  

  
}

.btnDiv {
  text-align: center;
 
}

button{
  background-color:rgba(255, 255, 255, 0.363);
  border:rgba(0, 0, 0, 0.829) solid .5px;
  
}

p{
  text-align: center;
}
a{
  color:rgb(118, 9, 243);
  font-size: 1.2rem;
  text-decoration: none;
}
h1{
  text-align: center;
}
.fetching {
  text-align: center;
  
}
.prof{
 

}

.profdiv {

 
  font-size: 1rem;
  
}

